{% extends 'base.html' %}
{% load static %}


{% block title %}About{% endblock title %}

{% block content %}
<h1>About</h1>
<img src="{% static 'img/puppy.jpg' %}" style="width:30%; border-radius:8px;">
<p>
Rafael González Pacheco López is an accomplished computer engineer and data science professional with over 15 years of experience in software development, artificial intelligence, and team leadership. As a director of engineering, he oversees a multifunctional team of over 250 engineers, driving innovation and operational excellence. Rafael has been instrumental in establishing high-performing organizations that ensure compliance and quality across projects. His expertise spans programming, cloud technologies, and cybersecurity, underpinned by a master's degree in data science and a Scrum Master certification.
</p>
<p>
A visionary leader, Rafael excels in fostering collaboration across geographically distributed engineering teams, bridging cultural and operational gaps to deliver impactful results. His strategic mindset and dedication to advancing technology solutions have positioned him as a trusted leader in the field. Outside of his professional endeavors, Rafael is deeply passionate about empowering teams and cultivating growth within the tech ecosystem.
</p>
{% endblock content %}